@model IEnumerable<PublicWebSms.Models.Group>

@{
    ViewBag.Title = "Grup";
}
<div class="row">
    <h2>Buat Grup</h2>
</div>
<div class="row">
    <a href="@Url.Content("~/Contact/CreateGroup")" class="button"><span>Buat Grup</span></a>
</div>
<div class="row">
    <h2>Daftar Grup</h2>
</div>

<div class="row">
	<input type="submit" value="Select all" class="submit"/>
	<input type="submit" value="Clear all" class="submit"/>
	<span>Bulk controls: </span>
	<input type="submit" value="Send SMS" class="submit"/>
	<input type="submit" value="Add to group" class="submit"/>
	<input type="submit" value="Delete" class="submit"/>
</div>
<div class="row">
    <table id="contact-list" class="item-list">
	    <tbody>
    @if (ViewBag.GroupId == -1)
    {
        foreach (PublicWebSms.Models.Group group in Model)
        {
            <tr class="row">
			    <td class="contact-checkbox">
				    <input type="checkbox" />
			    </td>
			    <td class="contact">
				    <div class="contact-name">
					    <span class="contact-name">@group.GroupName</span>
				    </div>
			    </td>
			    <td data-groupId="@group.GroupId" class="contact-button">
				    <input type="submit" value="Sunting" class="submit"/>
				    <input type="submit" value="Kirim SMS" class="submit"/>
				    <input type="submit" value="Hapus" class="submit"/>
			    </td>
		    </tr>
        }
    }
        
		    </tr>
	    </tbody>
    </table>
</div>
