@{
    ViewBag.Title = "Halaman Pendaftaran";
}

<h2>Halaman Pendaftaran PersonalWebSMS</h2>

<p>Silahkan melengkapi formulir di bawah ini dan menyetujui segala jenis ketentuan penggunaan layanan PersonalWebSMS agar Anda
    dapat menggunakan layanan ini. Terima kasih. -- Admin
</p>

<div id="error">
    Maaf isian kurang lengkap
</div>
<form method="post" id="registerform">
    <table>
        <tr>
            <td>Nama Lengkap Anda</td>
            <td>: <input type="text" name="FullName" placeholder="Ahmad Fathanah"  size="50"/><br />Isilah nama lengkap Anda</td>
        </tr>
        <tr>
            <td>Surel</td>
            <td>: <input type="text" name="Email" placeholder="ahmadfathana2012@yahoo.com"  size="20"/><br />Alamat surel ini akan digunakan sebagai nama pada saat login</td>
        </tr>
        <tr>
            <td>Kata Sandi</td>
            <td>: <input type="password" name="Password" placeholder="Password"  size="20"/></td>
        </tr>
        <tr>
            <td>Ulangi Kata Sandi</td>
            <td>: <input type="password" name="ConfirmPassword" placeholder="Password"  size="20"/></td>
        </tr>
        <tr>
            <td>Ketentuan layanan</td>
            <td>: 
                <textarea readonly="readonly" cols="50" rows="10">
KETENTUAN LAYANAN PersonalWebSMS

1) No SARA!
2) No Repost!
3) No Hoax!
4) No Flame!
                </textarea>
                <br />
                <input type="checkbox" name="AcceptTerm" value="true"/> Saya setuju dengan ketentuan layanan di atas
            </td>
        </tr>
    </table>
    <input type="submit" value="Lakukan Pendaftaran"/>
</form>

<script>
    $("#error").hide();
    $("#registerform").submit(function () {
        //alert($("#registerform").serialize());

        $.post("/Account/Register", $("#registerform").serialize(), function (data) {
            alert(data);
            if (data == false) {
                $("#error").fadeIn(500);
                return false;
            }
            else {
                window.location = "/Account/RegisterSuccess";
            }
        }, "json");
        return false;
    });
</script>