@{
    ViewBag.Title = "Pendaftaran Sukses";
}

<div class="row">
    <h2>Pendaftaran Sukses</h2>
</div>

<div class="row">
    <p>Selamat! Akun Anda telah aktif. Silakan <strong><a href="~/Account/Login">Login</a></strong> untuk melanjutkan mengirim SMS gratis sepuasnya.</p>
</div>