@model IEnumerable<PublicWebSms.Models.SMS>

@{
    ViewBag.Title = "Outbox";
}

<div class="row">
    <h2>Outbox</h2>
</div>
<div class="row">
    <input type="button" value="Buat Pesan Baru" id="newmessage" class="submit" />
</div>

    <br />
@if (ViewBag.Success == 1)
{
<div class="row">
    <div id="information">Pesan telah tercatat! Menunggu proses pengiriman dari server SMS Gateway.</div>
</div>
}
<div class="row">
    <table id="sms-table">
    <tr>
        <td><strong>Waktu pengiriman</strong></td>
        <td><strong>Nomor tujuan</strong></td>
        <td><strong>Pesan</strong></td>
        <td><strong>Status</strong></td>
    </tr>
    @foreach (PublicWebSms.Models.SMS sms in Model)
    {
        <tr>
            <td class="sms-timestamp">@sms.TimeStamp</td>
            <td class="sms-destination">@sms.DestinationNumber</td>
            <td class="sms-content">@sms.Content</td>
            <td class="sms-status">@if(sms.Sent == true)
                    {
                        <span>Terkirim</span>
                    }
                    else
                    {
                        <span>Belum diproses</span>
                    }
            </td>
        </tr>
    }
</table>
</div>

<script>
    $(document).ready(function () {
        $("#newmessage").click(function () {
                window.location = "@Url.Content("~/Message/Compose")";
        });
    });
</script>
