@font-face {
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 400;
  src: local('Londrina Solid'), local('LondrinaSolid-Regular'), url(font/LondrinaSolid.woff) format('woff');
}